#buttonStyle{
    margin-right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    background-color:#CED4DA ;
    border: none;
}
#buttonStyle:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#gussedWrong{
    color: black;
    text-align: center;
    font-size: 25px;
}

#hangmanWords{
    font-size: 30px;
}
#resetButton{
    padding: 10px 24px;
    background-color: #e7e7e7; color: black;
    border: none;
    
}
#resetButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.text-score{
    text-align: center;
    margin-left: 10px;
}
.text-label{
    text-align: center;
    font-size: 17px;
}

.score-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 51px;
}