#hangman{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hangmanText{
    text-align: center;
}
#buttons{
    text-align: center;
}

#hangmanImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#buttonStyle{
    margin-right: 10px;
}
#startUpScreen{
    margin: 0 auto;
    display: block;
    justify-content: center;
    padding: 14px 40px;
    border-radius: 25px;
    text-align: center;
}

#startUpScreen:hover{
    width: 300px;
    
}
