#homepage-start{
    background-color: whitesmoke;
    text-align: center;
    margin: -8px;
    margin-top: -22px;
}
#banner{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
#profile{
    text-align: center;
}
#profileImage{
    width: 170px;
    height: auto;
    float: left;
    border-radius: 30%;
}