
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');


#homepage-start{
    background-color: whitesmoke;
    text-align: center;
    margin: -8px;
    margin-top: -22px;
}
#banner{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#profile{
    text-align: center;
}
#profileImage{
    width: 170px;
    height: auto;
    float: left;
    border-radius: 30%;
}
.profile-div{
    font-size: 18px;
    padding-bottom: 10px;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.titleScreen{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}
.flex-parent {
    display: flex;
}
  
.jc-center {
    justify-content: center;
}
.buttonRight{
    margin-right: 20px;
    width: 200px;
}